<!DOCTYPE html>
<html>
        <head>{{title}} - Page </head>
<body>
        <div class=navbar>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('add') }}">Add Calories</a>
		<a href="{{ url_for('remove') }}">Remove Calories</a>
        </div>
	<div class='form'> <!--this shows the forms that we had written in forms.py -->
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {{ form.burnt.label }}<!--Label -->
            {{ form.burnt }}<!--this is the input box -->
            <br>
            {{ form.intake.label }}
            {{ form.intake }}
	    <br>
            {{ form.submit }}<!--submit button -->
        </form>
    </div>
</body>
</html>
~                                                                                                                         
~                     
