<!DOCTYPE html>
<html>
        <head>{{title}} - Page </head>
<body>
        <div class=navbar>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('add') }}">Add Calories</a>
		<a href="{{ url_for('remove') }}">Update Calories</a>
        </div>
        {%for post in posts%}
	<div>
		<h3>Calories Burnt: {{post.burnt}}</h3>
		<h3>Caloric Intake: {{post.intake}}</h3>
		<form action="{{ url_for('remove_delete') }}">
       		 <button type="submit">Update</button>
		</form>
	</div>
	{%endfor%}
	<form action="{{ url_for('remove_delete') }}">
        <button type="submit">Delete All Data</button>
</form>
</body>
</html>
